<div class="row">
    <div class="col-xs-12">
        Show the tree
        <div class="actions">
            <a (click)="showDeleteTreePopup(deleteTreeModal)"><i class="icon-delete"></i></a>
        </div>
    </div>
</div>

<modal #deleteTreeModal id="deleteTree" [show-modal]="isModalOpen" [title]="'Delete'">
    <div class="popup-content">
        <p>Are you sure you want to delete this tree permanently?</p>
    </div>
    <div class="popup-footer">
        <button class="btn cancel" aria-label="Close" (click)="deleteTreeModal.hide()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteSelectedTree(deleteTreeModal)" aria-label="Close">
            Delete
        </button>
    </div>
</modal>